<div class="container-fluid">
    <app-page-title title="Générer un certificat d'absence"></app-page-title>

    <div class="row">
        <div class="col-xl-4">
            <!-- end card -->
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="me-2">
                            <h5 class="card-title mb-4  text-primary">Classe</h5>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <div class="form-floating mb-3">
                            <select class="form-select" aria-label="choisir Classe" [(ngModel)]="contenue.idClasse" (ngModelChange)="recuperation($event)">
                              <option value="" selected>Liste des classes</option>
                              <option *ngFor="let classe of classes" [value]="classe.id">{{classe.libelle}}</option>
                          </select>
                            <label for="floatingSelectGrid">Veuillez choisir une classe</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end card -->
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="me-2">
                            <h5 class="card-title mb-4  text-primary">Année scolaire</h5>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <div class="form-floating mb-3">
                            <select class="form-select" aria-label="choisir Année Scolaire">
                              <option value="" selected>Liste des années scolaires</option>
                              <option *ngFor="let annee of anneesScolaires">{{ annee }}</option>
                          </select>
                            <label for="floatingSelectGrid">Veuillez choisir l'année scolaire</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="me-2">
                            <h5 class="card-title mb-4">Liste des élèves</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col-sm-4">
                                            <div class="search-box me-2 mb-2 d-inline-block">
                                                <div class="position-relative">
                                                    <input type="text" class="form-control" placeholder="Recherche..." [(ngModel)]="term">
                                                    <i class="bx bx-search-alt search-icon"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end col-->
                                    </div>
                                    <!-- Table data -->
                                    <div class="table-responsive mb-0">
                                        <table class="table table-centered table-nowrap">
                                            <thead class="bg-primary bg-soft p-4">
                                                <tr>
                                                    <th style="text-align: center;">id</th>
                                                    <th style="text-align: center;">Nom complet</th>
                                                    <th style="text-align: center;">Date Naissance</th>
                                                    <th style="text-align: center;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of eleves">
                                                    <td>
                                                        <a href="javascript: void(0);" class="text-body fw-bold">{{data.id}}</a>
                                                    </td>
                                                    <td style="text-align: center;">{{data.nom+' '+ data.prenom}}</td>
                                                    <td style="text-align: center;">{{data.dateNaissance}}</td>
                                                    <td style="text-align: center;">
                                                        <button type="button" (click)="generateCertificate(data.matricule)" class="btn btn-outline-success"><i class="fas fa-eye"></i>&nbsp;Générer</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- Section de modèle HTML cachée pour le certificat -->
                                    <div id="certificateContent" style="display: none;">
                                        <h1>Certificat d'absence</h1>
                                        <p>Nom de l'élève : </p>
                                        <p>Date d'absence :</p>
                                        <!-- Autres détails du certificat -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->

</div>