<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Parametrage</h4>
        <div class="page-title-right">
          <div class="col-sm-auto">
            <label class="visually-hidden" for="autoSizingSelect">Preference</label>
            <select class="form-select" id="autoSizingSelect">
              <option selected>Année scolaire</option>
              <option value="1">2023/2024</option>

            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="checkout-tabs">
      <div class="row">
        <div class="col-xl-4 col-sm-6" *ngFor="let data of classes">
                          <div class="card">
                            <div class="card-body">
                              <div class="card shadow-none border-primary border mb-0">
                                <div class="card-body">
                                  <h4 class="card-title mb-4">{{data.libelle}}</h4>
                                  <button *ngIf="!data.montant_mois.length" type="button" class="btn btn-success btn-rounded btn-sm mb-2" (click)="OpenModalAdd(data.classe_id,data.libelle,contentAddMontant)">
                                    <i class="bx bx-plus-circle  align-middle"></i> Ajouter montant</button>
                                  <div class="table-responsive">
                                    <table class="table table-centered mb-0 table-nowrap">
                                      <thead class="table-light">
                                        <tr>
                                          <th scope="col">Mois</th>
                                          <th scope="col">Montant</th>
                                          <th scope="col">Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let value of data.montant_mois ">
                                          <td>{{value.libelleMois}}</td>
                                          <td>{{formatMontant(value.montant)}} FCFA</td>
                                          <td> <button type="button" class="btn btn-info btn-sm" (click)="updateMontantMois(value,data.libelle,contentUpdateMontant)">
                                            <i class="bx bx-pencil  align-middle"></i>
                                          </button></td>
                                        </tr>

                                      </tbody>
                                    </table>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
        </div>
      </div>
    </div>
  </div>

<ng-template #contentAddMontant role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Ajouter les montants de la classe de {{ libClasse}}</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="modal-body">
        <form  [formGroup]="formMontantMoi">
          <div class="row ">
            <div class="col-md-4">
              <label>Octobre</label>
              <input class="form-control" type="text" formControlName="octobre" required>
            </div>
            <div class="col-md-4">
              <label>Novembre</label>
              <input class="form-control" type="text" formControlName="novembre" required>
            </div>
            <div class="col-md-4">
              <label>Décembre</label>
              <input class="form-control" type="text" formControlName="decenbre" required>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <label>Janvier</label>
              <input class="form-control" type="text" formControlName="janvier">
            </div>
            <div class="col-md-4">
              <label>Février</label>
              <input class="form-control" type="text" formControlName="fevrier">
            </div>
            <div class="col-md-4">
              <label>Mars</label>
              <input class="form-control" type="text" formControlName="mars">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <label>Avril</label>
              <input class="form-control" type="text" formControlName="avril">
            </div>
            <div class="col-md-4">
              <label>Mai</label>
              <input class="form-control" type="text" formControlName="mai">
            </div>
            <div class="col-md-4">
              <label>Juin</label>
              <input class="form-control" type="text" formControlName="juin">
            </div>
          </div>

        </form>
      </div>
      <div  class="modal-footer">
        <div style="text-align: center;">
          <ul class="list-inline wizard mb-0" style="text-align: center; display: inline-block;">
            <button type="button" class="btn btn-danger" style="float: center;" (click)="annuler()"><i class="fa fa-undo"></i>&nbsp;Annuler</button>
            &nbsp;
            <button type="button" class="btn btn-success" style="float: center;" (click)="AddMontantMois()"><i class="fa fa-save"></i>&nbsp;Ajouter</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #contentUpdateMontant role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Modifier le montant de la classe de {{ libClasse}}</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="modal-body">
        <form>
          <div class="row ">
            <div class="col-md-6">
              <label>mois</label>
              <input class="form-control" type="text" [(ngModel)]="libeleMois" name="libeleMois" disabled>
            </div>
            <div class="col-md-6">
              <label>montant</label>
              <input class="form-control" type="text"  [(ngModel)]="montMois" name="montMois" >
            </div>
          </div>

        </form>
      </div>
      <div  class="modal-footer">
        <div style="text-align: center;">
          <ul class="list-inline wizard mb-0" style="text-align: center; display: inline-block;">
            <button type="button" class="btn btn-danger" style="float: center;" (click)="annuler()"><i class="fa fa-undo"></i>&nbsp;Annuler</button>
            &nbsp;
            <button type="button" class="btn btn-success" style="float: center;" (click)="UpdateMois()"><i class="fa fa-save"></i>&nbsp;Ajouter</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!--<ng-template #contentAddMontant role="document" let-modal>-->
<!--  <div class="modal-header">-->
<!--    <h5 class="modal-title mt-0">Ajouter les montants de chaque mois</h5>-->
<!--    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <div class="modal-body">-->
<!--        <form >-->
<!--          <div class="row mt-3">-->
<!--            <div class="col-12">-->
<!--              <div class="row mb-3">-->
<!--                <div class="col-sm-3 test">-->
<!--                  <label>Mois </label>-->
<!--                  <input class="form-control" type="text" placeholder="Octobre" disabled>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                  <label>Montant </label>-->
<!--                  <input class="form-control" type="text" >-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="row mb-3">-->
<!--                <div class="col-sm-3 test">-->
<!--                  <label>Mois </label>-->
<!--                  <input class="form-control" type="text" placeholder="Novembre" disabled>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                  <label>Montant </label>-->
<!--                  <input class="form-control" type="text" >-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="row mb-3">-->
<!--                <div class="col-sm-3 test">-->
<!--                  <label>Mois </label>-->
<!--                  <input class="form-control" type="text" placeholder="Décembre" disabled>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                  <label>Montant </label>-->
<!--                  <input class="form-control" type="text" >-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="row mb-3">-->
<!--                <div class="col-sm-3 test">-->
<!--                  <label>Mois </label>-->
<!--                  <input class="form-control" type="text" placeholder="Janvier" disabled>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                  <label>Montant </label>-->
<!--                  <input class="form-control" type="text" >-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="row mb-3">-->
<!--                <div class="col-sm-3 test">-->
<!--                  <label>Mois </label>-->
<!--                  <input class="form-control" type="text" placeholder="Février" disabled>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                  <label>Montant </label>-->
<!--                  <input class="form-control" type="text" >-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="row mb-3">-->
<!--                <div class="col-sm-3 test">-->
<!--                  <label>Mois </label>-->
<!--                  <input class="form-control" type="text" placeholder="Mars" disabled>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                  <label>Montant </label>-->
<!--                  <input class="form-control" type="text" >-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="row mb-3">-->
<!--                <div class="col-sm-3 test">-->
<!--                  <label>Mois </label>-->
<!--                  <input class="form-control" type="text" placeholder="Avril" disabled>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                  <label>Montant </label>-->
<!--                  <input class="form-control" type="text" >-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="row mb-3">-->
<!--                <div class="col-sm-3 test">-->
<!--                  <label>Mois </label>-->
<!--                  <input class="form-control" type="text" placeholder="Mai" disabled>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                  <label>Montant </label>-->
<!--                  <input class="form-control" type="text" >-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="row mb-3">-->
<!--                <div class="col-sm-3 test">-->
<!--                  <label>Mois </label>-->
<!--                  <input class="form-control" type="text" placeholder="Juin" disabled>-->
<!--                </div>-->
<!--                <div class="col-md-3s">-->
<!--                  <label>Montant </label>-->
<!--                  <input class="form-control" type="text" >-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <br>-->
<!--            <div style="text-align:center;">-->
<!--              <ul class="list-inline wizard mb-0" style="text-align: center; display: inline-block;">-->
<!--                <button type="button"-->
<!--                        class="btn btn-danger" style="float:center;" (click)="annuler()"><i class="fa fa-undo" ></i>&nbsp;Annuler</button>-->
<!--                &nbsp;-->
<!--                <button type="button" class="btn btn-success" style="float:center;" ><i-->
<!--                  class="fa fa-save"></i>&nbsp;Ajouter</button>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->
