<div class="container-fluid">

  <app-page-title title="Alerte Absence"></app-page-title>
  <form #form="ngForm" (ngSubmit)="addAbsence(form)">
    <div class="row">
      <div class="col-xl-4">
        <div class="card ">
          <div class="card-body bg-danger bg-soft">


            <div class="d-flex align-items-center mb-3">
              <div class="avatar-xs me-3">
                <span class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-18">
                  <i class="bx bx-purchase-tag-alt"></i>
                </span>
              </div>
              <h5 class="font-size-14 mb-0"  style="text-align: center;">Nombre SMS restant</h5>
            </div>
            <div class="text-muted mt-4">
              <h2 >944</h2>
              <!-- <span class="badge badge-soft-danger font-size-12"> + 20 </span> <span class="ms-2 text-truncate"></span> -->
            </div>

          </div>

        </div>
        <!-- end card -->


        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <div class="me-2">
                <h5 class="card-title mb-4 " style="color: #ce8e24;">Classe</h5>
              </div>

            </div>

            <div class="text-center mt-4">
              <div class="form-floating mb-3">
                <select class="form-select" name="idDateDebut" [(ngModel)]="absence.date_debut"
                  (ngModelChange)="recuperationDateDebut($event)" aria-label="Floating label select example">
                  <option value="" selected='selected' disabled>Veuillez choisir la date début du cours</option>
                  <option value="8">8h</option>
                  <option value="9">9h</option>
                  <option value="10">10h</option>
                  <option value="11">11h</option>
                  <option value="12">12h</option>
                  <option value="13">13h</option>
                  <option value="14">14h</option>
                  <option value="15">15h</option>
                  <option value="16">16h</option>
                  <option value="17">17h</option>
                  <option value="18">18h</option>
                </select>
                <label for="floatingSelectGrid">Heure debut</label>
              </div>
            </div>
            <div class="text-center mt-4" *ngIf="absence.date_debut">
              <div class="form-floating mb-3">
                <select class="form-select" name="idDateFin" required [(ngModel)]="absence.date_fin"
                  aria-label="Floating label select example">
                  <option value="" selected='selected' disabled>Veuillez choisir la date fin du cours</option>
                  <option *ngFor="let data of TabDateFin" [value]="data">{{data}}h</option>
                </select>
                <label for="floatingSelectGrid"> Heure Fin</label>
              </div>
            </div>
            <div class="text-center mt-4" *ngIf="absence.date_fin">
              <div class="form-floating mb-3">
                <select class="form-select" name="idClasse" [(ngModel)]="absence.idClasse"
                  (ngModelChange)="recuperations($event)" aria-label="Floating label select example">
                  <option value="" selected='selected' disabled>Veuillez choisir la classe</option>
                  <option *ngFor="let classe of classes" [value]="classe.id">{{classe.libelle}}</option>
                </select>
                <!-- <label for="floatingSelectGrid">veuillez choisir une matiere</label> -->
              </div>
            </div>
            <div class="text-center mt-4" *ngIf="matiere">
              <div class="form-floating mb-3">
                <select class="form-select" name="matiere_id" [(ngModel)]="absence.matiere_id"
                  aria-label="Floating label select example">
                  <option value="" selected='selected' disabled>Veuillez choisir la matiere</option>
                  <option *ngFor="let m of matiere" [value]="m.id">{{m.libelle}}</option>
                </select>
                <label for="floatingSelectGrid">veuillez choisir une matiere</label>
              </div>
            </div>

          </div>
        </div>



        <!-- end card -->
      </div>

      <div class="col-xl-8" *ngIf="absence.matiere_id" >
        <div class="card">
          <div class="card-body">
            <div class="d-flex">
              <div class="me-2">
                <h5 class="card-title mb-4">Liste des eleves</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row mb-2">
                      <div class="col-sm-4">
                        <div class="search-box me-2 mb-2 d-inline-block">
                          <div class="position-relative">
                            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term">
                            <i class="bx bx-search-alt search-icon"></i>
                          </div>
                        </div>
                      </div>

                      <!-- end col-->
                    </div>

                    <!-- Table data -->
                    <!--          <app-transaction [transactions]="transactions |  filter:term"></app-transaction>-->
                    <div class="table-responsive mb-0" >
                      <table class="table table-centered table-nowrap">
                        <thead class="bg-primary bg-soft p-4">
                          <tr>
                            <th style="text-align: center;">
                              id
                            </th>
                            <th style="text-align: center;">Nom</th>
                            <th style="text-align: center;">Prenom</th>
                            <th style="text-align: center;">Date Naissance</th>
                            <th style="text-align: center;">Sexe</th>
                            <th style="text-align: center;">Telephone</th>
                            <th style="text-align: center;">Note</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of listeEleveByClasse; let i=index">
                            <td>
                              <a href="javascript: void(0);" class="text-body fw-bold">{{data.id}}</a>
                            </td>
                            <td style="text-align: center;">{{data.nom}}</td>
                            <td style="text-align: center;">{{data.prenom}}</td>
                            <td style="text-align: center;">{{data.dateNaissance}}</td>
                            <td style="text-align: center;">{{data.sexe}}</td>
                            <td style="text-align: center;">{{data.parent_telephone}}</td>
                            <td style="text-align: center;">
                              <!-- Button trigger modal -->
                              <div class="mb-2">
                                <input type="checkbox" class="largerCheckbox" id="formrow-inputCity" value={{data.id}}
                                  (change)="focusoutHandler($event)">
                              </div>
                            </td>
                            <!-- <td>
  <span class="badge badge-pill badge-soft-success font-size-11" [ngClass]=" { 'badge-soft-danger': data.status === 'Chargeback',
                'badge-soft-warning':data.status === 'Refund' }">{{data.status}}</span>
                        </td> -->

                          </tr>
                        </tbody>
                      </table>
                      <td style="text-align: center;">
                        <button type="reset" class="btn btn-info no-print"><i class="fas fa-undo" id="annuler"></i>
                          Annuler</button>&nbsp;
                        <button type="submit" id="envoyer" class="btn btn-success no-print"><i class="fas fa-save"
                            (click)="addAbsence(form)"></i> Envoyer</button>&nbsp;

                      </td>

                    </div>
                    <!--          -->
                    <ngb-pagination class="pagination pagination-rounded justify-content-end mb-2"
                      [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="listeEleveByClasse.length">
                      <ul class="pagination pagination-rounded justify-content-end mb-2">
                        <li class="page-item disabled">
                          <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                            <i class="mdi mdi-chevron-left"></i>
                          </a>
                        </li>
                        <li class="page-item active">
                          <a class="page-link " href="javascript: void(0);">1</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="javascript: void(0);">2</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="javascript: void(0);">3</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="javascript: void(0);">4</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="javascript: void(0);">5</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="javascript: void(0);" aria-label="Next">
                            <i class="mdi mdi-chevron-right"></i>
                          </a>
                        </li>
                      </ul>
                    </ngb-pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </form>
</div>