<div class="container-fluid">

    <app-page-title title="Espace Abonné" ></app-page-title>

    <div class="row">
      <div class="col-xl-4">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-black p-3">
                  <h5 class="text-black-50">Bienvenue!</h5>
                  <p>Informations Eleve</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col-sm-4">
                <div class="avatar-md profile-user-wid mb-4">
                  <img src="assets/images/users/avatar-2.jpg" alt="" class="img-thumbnail rounded-circle">
                </div>
                <h5 class="font-size-15 text-truncate">Diop Marie</h5>
                <p class="text-muted mb-0 text-truncate">classe : CM1</p>
              </div>

              <div class="col-sm-8">
                <div class="pt-4">

                  <div class="row">
                    <div class="col-6">
                      <h5 class="font-size-15">Adresse</h5>
                      <p class="text-muted mb-0">Patte doie</p>
                    </div>
                    <div class="col-6">
                      <h5 class="font-size-15">Tuteur</h5>
                      <p class="text-muted mb-0">Limamou Diop ( 771230388)</p>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end card -->

        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4"> Information Personnelle</h4>


            <div class="table-responsive">
              <table class="table table-nowrap mb-0">
                <tbody>
                  <tr>
                    <th scope="row">Nom Complet:</th>
                    <td>Diop Marie</td>
                  </tr>
                  <tr>
                    <th scope="row">Contact Parent :</th>
                    <td>(+221) 771230388</td>
                  </tr>
                  <tr>
                    <th scope="row">Date de Naissance :</th>
                    <td> Parcelles</td>
                  </tr>
                  <tr>
                    <th scope="row">Date de Naissance:</th>
                    <td>12-09-2005</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- end card -->


        <!-- end card -->
      </div>

      <div class="col-xl-8">

        <div class="row">
          <div *ngFor="let stat of statData" class="col-md-4 text-info">
            <app-stat [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat>
          </div>
        </div>
        <!-- <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4">Revenue</h4>
            <apx-chart dir="ltr" class="apex-charts" [series]="revenueBarChart.series" [chart]="revenueBarChart.chart"
              [xaxis]="revenueBarChart.xaxis" [colors]="revenueBarChart.colors" [yaxis]="revenueBarChart.yaxis"
              [dataLabels]="revenueBarChart.dataLabels" [stroke]="revenueBarChart.stroke"
              [plotOptions]="revenueBarChart.plotOptions" [fill]="revenueBarChart.fill">
            </apx-chart>
          </div>
        </div> -->

        
           
            <!-- Table data -->
            <div class="card">
              <div class="card-body">
                <ul ngbNav #customNav="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom nav-justified">
                  <li [ngbNavItem]="1">
                    <a ngbNavLink>
                      <span class="d-block d-sm-none"></span>
                      <span class="d-none d-sm-block"><i class="fas fa-book"></i>&nbsp;Notes</span>
                    </a>
                    <ng-template ngbNavContent>
                      <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
                    </ng-template>
                  </li>
                  <li [ngbNavItem]="2">
                    <a ngbNavLink>
                      <span class="d-block d-sm-none"></span>
                      <span class="d-none d-sm-block"><i class="fa fa-clock"></i>&nbsp;Absences</span>
                    </a>
                    <ng-template ngbNavContent>
                      <ng-template [ngTemplateOutlet]="TabContent1"></ng-template>
                    </ng-template>
                  </li>
                </ul>
                <div [ngbNavOutlet]="customNav"></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!--notes-->
        <ng-template #TabContent>
          <br>
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                    <button type="button" class="btn btn-success  btn-sm btn-rounded"  style=" color:white ;"  ><i class="fa fa-print"></i>&nbsp;Imprimer</button>
              </div>
            </div><!-- end col-->
          </div>

          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="table-info">
              <tr>
                <th class="">Note </th>
                <th class="">Matiere</th>
                <th class="">Date d'evaluation</th>
                <th class="">Marqué Par</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td style="text-align: center;">  </td>
               <td style="text-align: center;"></td>
               <td>
                <a href="javascript: void(0);" class="text-body fw-bold"></a>
              </td>
              
              
               <td style="text-align: center;"></td>
              </tr>
             
              </tbody>
            </table>

           
          </div>
          <ul class="pagination pagination-rounded justify-content-end mb-2">
            <li class="page-item disabled">
              <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                <i class="mdi mdi-chevron-left"></i>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="javascript: void(0);">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript: void(0);">2</a>
            </li>

          </ul>
        </ng-template>

        <!--absences-->
        <ng-template #TabContent1>
          <br>
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                    <button type="button" class="btn btn-success  btn-sm btn-rounded"  style=" color:white ;"  ><i class="fa fa-print"></i>&nbsp;Imprimer</button>
              </div>
            </div><!-- end col-->
          </div>

          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="table-info">
              <tr>
                <th class="" style="text-align: center;"> 1 </th>
                <th class="" style="text-align: center;">Heure Debut </th>
                <th class="" style="text-align: center;">Heure Fin</th>
                <th class="" style="text-align: center;">Date Absence</th>
                <th class="" style="text-align: center;">Matiére</th>
                <th class="" style="text-align: center;">Marqué Par</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td style="text-align: center;"> 1 </td>
                <td style="text-align: center;">09h  </td>
               <td style="text-align: center;">11h</td>
               <td>
                <a href="javascript: void(0);" class="text-body fw-bold">05/03/2023</a>
              </td>
               <td>Anglais</td>
               <td style="text-align: center;">Aida Mbaye</td>
              </tr>
             
              </tbody>
            </table>

           
          </div>
          <ul class="pagination pagination-rounded justify-content-end mb-2">
            <li class="page-item disabled">
              <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                <i class="mdi mdi-chevron-left"></i>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="javascript: void(0);">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript: void(0);">2</a>
            </li>

          </ul>
        </ng-template>
            
          
      
      
    </div>
    <!-- end row -->
  
