<div class="container-fluid">

    <app-page-title title="Gestion des paiements mensuels"></app-page-title>
  
    <div class="row">
      <div class="col-xl-4">
        <!-- end card -->
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div class="me-2">
                        <h5 class="card-title mb-4 text-primary" >
                            Suivi des paiements mensuels</h5>
                    </div>

                </div>
                <div class="text-center mt-4">
                    <div class="form-floating mb-3">
                        <select class="form-select" aria-label="choisir Classe" [(ngModel)]="contenue.idClasse" (ngModelChange)="recuperationClasse($event)">
            <option value="" selected>Liste des classes</option>
            <option *ngFor="let classe of classes" [value]="classe.id">{{classe.libelle}}</option>
          </select>
                        <label for="floatingSelectGrid">Veuillez choisir une classe</label>
                    </div>
                </div>
                <div class="text-center mt-4" *ngIf="classes">
                    <div class="form-floating mb-3">
                        <select class="form-select" aria-label="Floating label select example" [(ngModel)]="contenue.idMois" (ngModelChange)="recuperation($event)">
            <option value="" selected>Mois</option>
            <option *ngFor="let mois of tabMois" [value]="mois.id">{{mois.mois}}</option>

          </select>
                        <label for="floatingSelectGrid">Veuillez choisir un mois</label>
                    </div>
                </div>

            </div>
        </div>
  
  
  
        <!-- end card -->
      </div>
  
      <div class="col-xl-8">
        <!-- List of matieres -->
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <!-- Titre de la liste de matières -->
                    <div class="col-sm-6">
                      <div class="me-2">
                        <h5 class="card-title mb-4">Liste des élèves</h5>
                      </div>
                    </div>
                  
                    <!-- Bouton "Imprimer" -->
                    <div class="col-sm-6 text-end">
                        <button type="button" class="btn btn-sm btn-rounded" style="background-color: #1e88e5; color: white;"  (click)="imprimerMensualite()">
                            <i class="fa fa-print"></i>&nbsp;Imprimer
                          </button>
                          
                    </div>
                  </div>
                
                <div class="row mb-2">
                    <!-- Items per page selection -->
                    <div class="col-sm-4">
                        <div class="dataTables_length" id="tickets-table_length">
                            <label class="d-inline-flex align-items-center">
                                Afficher
                                <select [(ngModel)]="pageSize" (change)="changeItemsPerPage()"
                                    class="form-select form-select-sm mx-2">
                                    <option [ngValue]="10">10</option>
                                    <option [ngValue]="25">25</option>
                                    <option [ngValue]="50">50</option>
                                    <option [ngValue]="100">100</option>
                                </select>
                                éléments
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="filter-box me-2 mb-2 d-inline-block" *ngIf="contenue.idMois">
                            <label class="d-inline-flex align-items-center">
                                Statut 
                            <select class="form-select form-select-sm mx-2" [(ngModel)]="selectedStatus" (change)="filterByStatus(selectedStatus)">
                                <option value="Tous">Tous</option>
                                <option value="1">Valide</option>
                                <option value="0">Invalide</option>
                            </select>
                        </label>
                        </div>
                    </div>
                    <!-- Search input -->
                    <div class="col-sm-5 text-end">
                        <div class="search-box me-2 mb-2 d-inline-block">
                            <div class="position-relative">
                                <input type="text" class="form-control no-print" placeholder="Rechercher par élève..."
                                    [(ngModel)]="selectedMensualite" (input)="SearchFilter($event)" />
                                <i class="bx bx-search-alt search-icon no-print"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mb-0" *ngIf="contenue.idMois">
                    <table class="table table-centered table-nowrap" >
                        <thead class="bg-primary bg-soft p-4">
                            <tr>
                                <th style="text-align: center;">#</th>
                                <th style="text-align: center;">Nom</th>
                                <th style="text-align: center;">Prénom</th>
                                <th style="text-align: center;">Date de naissance</th>
                                <th style="text-align: center;">Statut</th>
                                <th style="text-align: center;">Reçu</th>
                                <th style="text-align: center;">Restant</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of pagedMensualite ; let i = index">
                                <td style="text-align: center;">
                                    <a href="javascript: void(0);" class="text-body fw-bold">{{ (i + 1) + (currentPage - 1) * pageSize }}</a>
                                </td>
                                <td style="text-align: center;">{{data.nom}}</td>
                                <td style="text-align: center;">{{data.prenom}}</td>
                                <td style="text-align: center;">{{data.dateNaissance | date: 'dd/MM/yyyy'}}</td>
                                <td style="text-align: center;">
                                    <span *ngIf="data.status_payement=='1'" class="badge badge-pill badge-soft-success font-size-11" [ngClass]=" { 'badge-soft-sucess': data.status_payement === '1'}">Valide</span>
                                    <span *ngIf="data.status_payement=='0'" class="badge badge-pill badge-soft-danger font-size-11" [ngClass]=" { 'badge-soft-danger': data.status_payement == '0'}">Invalide</span>
                                </td>
                                <td style="text-align: center;">{{formatMontant(data?.avance)}}</td>
                                <td style="text-align: center;">{{formatMontant(data?.restant) }}</td>
                            </tr>
                        </tbody>
                    </table>



                </div>
                      <div class="d-flex justify-content-between align-items-center"> <!-- Utilisez d-flex pour aligner les éléments à gauche et à droite -->
                        <p class="text-muted mb-2">
                            Affichage de {{ (currentPage - 1) * pageSize + 1 }} à 
                            {{ (currentPage * pageSize > filteredMensualite.length) ? filteredMensualite.length : (currentPage * pageSize) }} 
                            sur {{ filteredMensualite.length }} éléments
                        </p>
                        <ngb-pagination class="pagination pagination-rounded justify-content-end mb-2"
                        [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="filteredMensualite.length" (pageChange)="pageChanged($event)">
                      </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>


  <div id="table-container" class="table-responsive" style="display: none;">
    <table class="table table-centered table-nowrap" >
        <thead class="bg-primary bg-soft p-4">
            <tr>
                <th style="text-align: center;">#</th>
                <th style="text-align: center;">Nom</th>
                <th style="text-align: center;">Prénom</th>
                <th style="text-align: center;">Matricule</th>
                <th style="text-align: center;">Sexe</th>
                <th style="text-align: center;">Date de naissance</th>
                <th style="text-align: center;">Statut</th>
                <th style="text-align: center;">Reçu</th>
                <th style="text-align: center;">Restant</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of eleves ; let i = index">
                <td style="text-align: center;">
                    <a href="javascript: void(0);" class="text-body fw-bold">{{ i + 1 }}</a>
                </td>
                <td style="text-align: center;">{{data.nom}}</td>
                <td style="text-align: center;">{{data.prenom}}</td>
                <td style="text-align: center;">{{data.matricule}}</td>
                <td style="text-align: center;">
                  {{ data.sexe === '1' ? 'Masculin' : data.sexe === '2' ? 'Féminin' : '' }}
                </td>
                <td style="text-align: center;">{{data.dateNaissance | date: 'dd/MM/yyyy'}}</td>
                <td style="text-align: center;">
                    <span *ngIf="data.status_payement=='1'" class="badge badge-pill badge-soft-success font-size-11" [ngClass]=" { 'badge-soft-sucess': data.status_payement === '1'}">Valide</span>
                    <span *ngIf="data.status_payement=='0'" class="badge badge-pill badge-soft-danger font-size-11" [ngClass]=" { 'badge-soft-danger': data.status_payement == '0'}">Invalide</span>
                </td>
                <td style="text-align: center;">{{formatMontant(data?.avance)}}</td>
                <td style="text-align: center;">{{formatMontant(data?.restant) }}</td>
            </tr>
        </tbody>
    </table>
</div>