<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0 font-size-18">Accueil</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item active"></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->

  <div class="row">
    <div class="col-xl-4">
      <div class="card overflow-hidden">
        <div class="bg-primary bg-soft">
          <div class="row">
            <div class="col-7">
              <div class="text-primary p-3">
                <h5 class="text-primary">Bienvenue Taiba Cours privé!</h5>
                <p>Être et non paraitre.</p>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img src="assets/images/profile-img.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img src="assets/images/users/avatar-10.png" alt="" class="img-thumbnail rounded-circle">
              </div>
              <h5 class="font-size-15 text-truncate">Milk</h5>
              <p class="text-muted mb-0 text-truncate">Admin</p>
            </div>

            <div class="col-sm-8">
              <div class="pt-4">

                <!-- <div class="row">
                                    <div class="col-6">
                                        <h5 class="font-size-15">125</h5>
                                        <p class="text-muted mb-0">Projects</p>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="font-size-15">$1245</h5>
                                        <p class="text-muted mb-0">Revenue</p>
                                    </div>
                                </div> -->
               <!--  <div class="mt-4">
                  <a href="" class="btn btn-primary btn-sm">Voir Profil <i class="mdi mdi-arrow-right ms-1"></i></a>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4">Répartition par sexe</h4>
          <div class="row">
            <apx-chart class="apex-charts" dir="ltr" [series]="donutChart.series" [chart]="donutChart.chart"
              [labels]="donutChart.labels" [legend]="donutChart.legend" [colors]="donutChart.colors"
              [responsive]="donutChart.responsive">
            </apx-chart>
            <div class="col-sm-6">


            </div>
          </div>
          <!-- <p class="text-muted mb-0">We craft digital, graphic and dimensional thinking.</p> -->
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class="row">
        <div *ngFor="let stat of statData" class="col-md-4">
          <app-stat [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat>
        </div>
      </div>
      <!-- end row -->

      <div class="card">
        <div class="card-body">

          <div class="d-sm-flex flex-wrap">
            <canvas baseChart [datasets]="nbrEleParCla.datasets" chartType="bar" [options]="nbrEleParCla.options"
              height="300" [labels]="nbrEleParCla.labels">
            </canvas>
          </div>
        </div>
      </div>
      <!-- end row -->

      <div class="row">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-4" style="text-align: center;">Répartition garçon et fille par classe
            </h4>
            <apx-chart class="apex-charts" dir="ltr" [series]="repSexeParCla.series" [chart]="repSexeParCla.chart"
              [plotOptions]="repSexeParCla.plotOptions" [yaxis]="repSexeParCla.yaxis" [grid]="repSexeParCla.grid"
              [tooltip]="repSexeParCla.tooltip" [stroke]="repSexeParCla.stroke" [dataLabels]="repSexeParCla.dataLabels"
              [xaxis]="repSexeParCla.xaxis" [colors]="repSexeParCla.colors" [fill]="repSexeParCla.fill">
            </apx-chart>
          </div>
        </div>
      </div>

    
    </div> <!-- container-fluid -->

    <ng-template #content let-modal>
      <div class="modal-header border-bottom-0">
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center mb-4">
          <div class="avatar-md mx-auto mb-4">
            <div class="avatar-title bg-light rounded-circle text-primary h1">
              <i class="mdi mdi-email-open"></i>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-xl-10">
              <h4 class="text-primary">Subscribe !</h4>
              <p class="text-muted font-size-14 mb-4">Subscribe our newletter and get notification to stay
                update.
              </p>

              <div class="input-group bg-light rounded">
                <input type="email" class="form-control bg-transparent border-0" placeholder="Enter Email address"
                  aria-label="Recipient's username" aria-describedby="button-addon2">

                <button class="btn btn-primary" type="button" id="button-addon2">
                  <i class="bx bxs-paper-plane"></i>
                </button>

              </div>

            </div>
          </div>
        </div>
      </div>
    </ng-template>
