<div class="container-fluid">
  <div class=" mt-2 mt-sm-0">
    <button class="btn btn-info" routerLink="/pages/inscription/mensualite">
      <i class="fa fa-arrow-left me-1"></i> Retour </button>
    <!-- <app-page-title title="Espace Professeur" style="text-align: end;"></app-page-title> -->
  </div>
  <br>

  <div class="row">
    <div class="col-xl-5">
      <div class="card overflow-hidden">
        <div class="bg-soft bg-primary">
          <div class="row">
            <div class="col-7">
              <div class="text-black p-3">
                <p class="text-muted mb-0">Matricule</p>
                    <h2 class="font-size-12">{{this.donneesEleve?.matricule }}</h2>
              </div>
            </div>
            <div class="col-5 align-self-end">
              <img src="assets/images/profile-img.png" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-sm-4">
              <div class="avatar-md profile-user-wid mb-4">
                <img src="assets/images/users/avatar-10.png" alt="" class="img-thumbnail rounded-circle">
              </div>
              <h2 class="font-size-12 text-truncate">{{ this.donneesEleve?.prenom +' '+ this.donneesEleve?.nom}}</h2>
            </div>

            <div class="col-sm-8">
              <div class="pt-4">
                <div class="row">
                  <div class="col-6">

                    <p class="text-muted mb-0">Classe</p>
                    <h2 class="font-size-12">{{this.donneesEleve?.classe }}</h2>
                  </div>
                  <div class="col-6">
                    <p class="text-muted mb-0">Contact parent</p>
                    <h2 class="font-size-12">{{this.donneesEleve?.telephone_parent }}</h2>

                  </div>
                </div>
                <!-- <div class="mt-4">
                    <a href="javascript: void(0);" class="btn btn-success btn-sm">En Cours </a>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-4"> Effectuer un nouvel paiement</h4>

          <div class="table-responsive">
            <table class="table table-nowrap mb-0">
              <tbody>
              <tr>
                <th scope="row">Nom Complet:</th>
                <td>{{this.donneesEleve?.prenom +' '+ this.donneesEleve?.nom}}</td>
              </tr>
              <tr [formGroup]="formMensualite">
                <th scope="row">Mois à payer :</th>
                <td> <select id="formrow-inputState" class="form-control"  formControlName="mois">
                  <option selected>Veuillez choisir le mois...</option>
                  <option value="1">Octobre</option>
                  <option value="2">Novembre</option>
                  <option value="3">Decembre</option>
                  <option value="4">Janvier</option>
                  <option value="5">Fevrier</option>
                  <option value="6">Mars</option>
                  <option value="7">Avril</option>
                  <option value="8">Mai</option>
                  <option value="9">Juin</option>
                </select></td>
<!--                <td><ng-select [items]="selectValue" formControlName="mois" [multiple]="true"></ng-select></td>-->
              </tr>
<!--              <tr [formGroup]="formMensualite">-->
<!--                <th scope="row">Montant à payer :</th>-->
<!--                <td ><input type="text" class="form-control" id="formrow-inputCit" formControlName="montant"></td>-->
<!--              </tr>-->
              <tr [formGroup]="formMensualite">
                <th scope="row">Montant reçu</th>
                <td><input type="text" class="form-control" id="formrow-inputCity" formControlName="avance"></td>
              </tr>
              </tbody>

              <button class="btn btn-success mx-auto" id="suivant"
                      style=" color: white; "  (click)="Valider()"><i class="fa fa-save"></i>&nbsp;Enregistrer</button>&nbsp;

            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-7">

      <div class="row">
        <div *ngFor="let stat of statData" class="col-md-6 text-info">
          <app-stat [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stat>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-6">
              <div class="me-2">
                <h5 class="card-title mb-4">Liste des paiements</h5>
              </div>
            </div>
          </div>
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="table-light">
              <tr>
                <th  style="text-align: center;">#</th>
                <th  style="text-align: center;">Mois payé</th>
                <th  style="text-align: center;">Montant à payer</th>
                <th  style="text-align: center;">Montant reçu</th>
                <th  style="text-align: center;">Montant restant</th>
                <th  style="text-align: center;">Date</th>
                <th  style="text-align: center;">Statut</th>
                <th  style="text-align: center;">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of donneesPaiement; let i = index">
                <td>
                  <a href="javascript: void(0);" class="text-body fw-bold">{{ (i + 1)}}</a>
                </td>
                <td style="text-align: center;"> {{getLibelleMoisById(data.moisId)}}</td>
                <td style="text-align: center;">{{formatMontant(data?.montant)}}</td>
                <td style="text-align: center;">{{formatMontant(data?.avance) }}</td>
                <td style="text-align: center;">{{formatMontant(data?.restant) }}</td>
                <td style="text-align: center;"> {{ data.date | date: 'dd/MM/yyyy'}}</td>
                <td style="text-align: center;">
                  <span *ngIf="data?.status_payement=='1'" class="badge badge-pill badge-soft-success font-size-11" [ngClass]=" { 'badge-soft-sucess': data?.status_payement === '1'}">Payé</span>
                  <span *ngIf="data?.status_payement=='0'" class="badge badge-pill badge-soft-danger font-size-11" [ngClass]=" { 'badge-soft-danger': data?.status_payement == '0'}">Impayé</span>
              </td>
              <td style="text-align: center;">
                <button type="button" class="btn btn-success no-print" *ngIf="convertToNumber(data?.restant) !== 0"     (click)="ModalAvance(data?.id,data?.restant,this.donneesEleve?.nom,this.donneesEleve?.prenom,contentUpdateAvance)"><i class="fas fa-money-bill"></i></button>&nbsp;
              </td>
              </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<ng-template #contentUpdateAvance role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Réglement de dette mensuelle </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="modal-body">
        <form (ngSubmit)="updateAvance()" [formGroup]="formInscriptionAvance">
          <div class="row mt-3">
            <div class="col-12">
              <div class="row mb-3">
                <!-- <label class="col-md-3 col-form-label">Contact Person</label -->
                <div class="col-sm-6 test">
                  <label>Nom </label>
                  <input class="form-control" type="text" placeholder="{{nomModal}}" disabled>

                </div>
                <div class="col-md-6">
                  <label>Prénom </label>
                  <input class="form-control" type="text" placeholder="{{prenomModal}}" disabled>
                </div>
                </div>
                <div class="row mb-3">
                <div class="col-md-6">
                  <label>Montant restant </label>
                  <input class="form-control" type="text" placeholder="{{formatMontant(restantModal) }}" disabled>
                </div>
                <div class="col-md-6">
                  <label>Montant reçu </label>
                  <input class="form-control" formControlName="avance"  type="number" placeholder="Veuillez saisir le montant" maxlength="7" required>
                </div>
              </div>
            </div>
            <br>
            <div style="text-align:center;">
              <ul class="list-inline wizard mb-0" style="text-align: center; display: inline-block;">
                <button type="button"  
                  class="btn btn-primary" style="float:center;" (click)="annuler()"><i class="fa fa-undo" ></i>&nbsp;Annuler</button>
                  &nbsp;
                <button type="button" class="btn btn-success" style="float:center;" (click)="updateAvance()" ><i
                    class="fa fa-save"></i>&nbsp;Enregistrer</button>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>