<div class="container-fluid">

  <app-page-title title="Gestion des inscriptions"></app-page-title>

  <div class="row">
    <div class="col-xl-4">
      <!-- end card -->
<!--      <div class="card">-->
<!--        <div class="card-body">-->
<!--          <div class="d-flex">-->
<!--            <div class="me-2">-->
<!--              <h5 class="card-title mb-4 text-primary">Suivi des inscriptions</h5>-->
<!--            </div>-->

<!--          </div>-->
<!--          <div class="text-center mt-4">-->
<!--            <div class="form-floating mb-3">-->
<!--              <select class="form-select" aria-label="choisir Classe" [(ngModel)]="contenue.idClasse"-->
<!--                      (ngModelChange)="recuperation($event)">-->
<!--                <option value="" selected>Liste des classes</option>-->
<!--                <option *ngFor="let classe of classes" [value]="classe.id">{{classe.libelle}}</option>-->
<!--              </select>-->
<!--              <label for="floatingSelectGrid">Veuillez choisir une classe</label>-->
<!--            </div>-->
<!--          </div>-->


<!--        </div>-->
<!--      </div>-->



      <!-- end card -->
    </div>
    <div class="col-xl-12">
      <!-- List of matieres -->
      <div class="card">
          <div class="card-body">
              <div class="row mb-2">
                  <!-- Titre de la liste de matières -->
                  <div class="col-sm-6">
                    <div class="me-2">
                      <h5 class="card-title mb-4">Liste des inscrits</h5>
                    </div>
                  </div>

                  <!-- Bouton "Imprimer" -->
                  <div class="col-sm-6 text-end">
                      <button type="button" class="btn btn-sm btn-rounded" style="background-color: #1e88e5; color: white;"  (click)="imprimerMensualite()">
                          <i class="fa fa-print"></i>&nbsp;Imprimer
                        </button>

                  </div>
                </div>

              <div class="row mb-2">
                  <!-- Items per page selection -->
                <div class="col-sm-3">
                  <div class="form-floating mb-3">
                    <select class="form-select" aria-label="choisir Classe" [(ngModel)]="contenue.idClasse"
                            (ngModelChange)="recuperation($event)">
                      <option value="" selected>Liste des classes</option>
                      <option *ngFor="let classe of classes" [value]="classe.id">{{classe.libelle}}</option>
                    </select>
                    <label for="floatingSelectGrid">Veuillez choisir une classe</label>
                  </div>
                </div>
                  <div class="col-sm-3">
                      <div class="dataTables_length" id="tickets-table_length">
                          <label class="d-inline-flex align-items-center">
                              Afficher
                              <select [(ngModel)]="pageSize" (change)="changeItemsPerPage()"
                                  class="form-select form-select-sm mx-2">
                                  <option [ngValue]="10">10</option>
                                  <option [ngValue]="25">25</option>
                                  <option [ngValue]="50">50</option>
                                  <option [ngValue]="100">100</option>
                              </select>
                              éléments
                          </label>
                      </div>
                  </div>

                  <div class="col-sm-3">
                      <div class="filter-box me-2 mb-2 d-inline-block" *ngIf="contenue.idClasse">
                          <label class="d-inline-flex align-items-center">
                              Statut
                          <select class="form-select form-select-sm mx-2" [(ngModel)]="selectedStatus" (change)="filterByStatus(selectedStatus)">
                              <option value="Tous">Tous</option>
                              <option value="1">Valide</option>
                              <option value="0">Invalide</option>
                          </select>
                      </label>
                      </div>
                  </div>
                  <!-- Search input -->
                  <div class="col-sm-3 text-end">
                      <div class="search-box me-2 mb-2 d-inline-block">
                          <div class="position-relative">
                              <input type="text" class="form-control no-print" placeholder="Rechercher par élève..."
                                  [(ngModel)]="selectedInscription" (input)="SearchFilter($event)" />
                              <i class="bx bx-search-alt search-icon no-print"></i>
                          </div>
                      </div>
                  </div>
              </div>

                  <!-- Table data -->
                  <!--          <app-transaction [transactions]="transactions |  filter:term"></app-transaction>-->
                  <div class="table-responsive mb-0">
                    <table class="table table-centered table-nowrap" *ngIf="contenue.idClasse">
                      <thead class="bg-primary bg-soft p-4">
                      <tr>
                        <th style="text-align: center;">#</th>
                        <th style="text-align: center;">Prénom</th>
                        <th style="text-align: center;">Nom</th>
                        <th style="text-align: center;">Sexe</th>
                        <th style="text-align: center;">Matricule</th>
                        <th style="text-align: center;">Date inscription</th>
                        <th style="text-align: center;">Statut</th>
                        <th style="text-align: center;">Inscription</th>
                        <th style="text-align: center;">Mensualité</th>
                        <th style="text-align: center;">Montant total</th>
                        <th style="text-align: center;">Montant reçu</th>
                        <th style="text-align: center;">Montant restant</th>
                        <th style="text-align: center;">Réduction inscription</th>
                        <th style="text-align: center;">Réduction mensualité</th>
                        <th style="text-align: center;"> Inscription offerte</th>
                        <th style="text-align: center;">Mensualité offerte</th>
                        <th style="text-align: center;">Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let data of pagedInscription ; let i = index" [ngClass]="{'bg-info bg-opacity-10': data.offreInsMois == true, 'bg-warning bg-soft' : data.offreIns == true}">
                        <td style="text-align: center;">
                          <a href="javascript: void(0);" class="text-body fw-bold">{{ (i + 1) + (currentPage - 1) * pageSize }}</a>
                      </td>
                        <td style="text-align: center;">{{data?.prenom}}</td>
                        <td style="text-align: center;">{{data?.nom}}</td>
                        <td style="text-align: center;">
                          {{ data?.sexe === '1' ? 'F' : data?.sexe === '2' ? 'M' : '' }}
                        </td>
                        <td style="text-align: center;">{{data?.matricule}}</td>
                        <td style="text-align: center;">{{data?.dateInscription | date: 'dd/MM/yyyy'}}</td>
                        <td style="text-align: center;">
                          <span *ngIf="data?.status_payement=='1'" class="badge badge-pill badge-soft-success font-size-11" [ngClass]=" { 'badge-soft-sucess': data?.status_payement === '1'}">Valide</span>
                          <span *ngIf="data?.status_payement=='0'" class="badge badge-pill badge-soft-danger font-size-11" [ngClass]=" { 'badge-soft-danger': data?.status_payement == '0'}">Invalide</span>
                      </td>
                      <td style="text-align: center;">{{formatMontant(data?.montant)}}</td>
                      <td style="text-align: center;">{{formatMontant(data?.montantPreniermois)}}</td>
                        <td style="text-align: center;">{{formatMontant(data?.montantTotal)}}</td>
                        <td style="text-align: center;">{{formatMontant(data?.avance) }}</td>
                        <td style="text-align: center;">{{formatMontant(data?.restant) }}</td>
                        <td style="text-align: center;">{{formatMontant(data?.reductionIns) }}</td>
                        <td style="text-align: center;">{{formatMontant(data?.ReductionMens) }}</td>
                        <td style="text-align: center;">
                          <span *ngIf="data?.offreIns==true || data?.offreInsMois==true" class="badge badge-pill badge-soft-success font-size-11" [ngClass]=" { 'badge-soft-sucess': data?.offreIns == true||data?.offreInsMois==true}">Oui</span>
                          <span *ngIf="data?.offreIns==false && data?.offreInsMois==false " class="badge badge-pill badge-soft-danger font-size-11" [ngClass]=" { 'badge-soft-danger': data?.offreIns == false && data?.offreInsMois==false}">Non</span>
                        </td>
                        <td style="text-align: center;">
                          <span *ngIf="data?.offreInsMois==true" class="badge badge-pill badge-soft-success font-size-11" [ngClass]=" { 'badge-soft-sucess': data?.offreInsMois === true}">Oui</span>
                          <span *ngIf="data?.offreInsMois==false" class="badge badge-pill badge-soft-danger font-size-11" [ngClass]=" { 'badge-soft-danger': data?.offreInsMois == false}">Non</span>
                        </td>
                      <td style="text-align: center;">
                        <button type="button" class="btn btn-success no-print" *ngIf="convertToNumber(data?.restant) !== 0"     (click)="ModalAvance(data?.id,data?.restant,data?.nom,data?.prenom,contentUpdateAvance)"><i class="fas fa-money-bill"></i></button>&nbsp;
                      </td>
                      </tr>
                      </tbody>
                    </table>

                    <div class="d-flex justify-content-between align-items-center"> <!-- Utilisez d-flex pour aligner les éléments à gauche et à droite -->
                      <p class="text-muted mb-2">
                          Affichage de {{ (currentPage - 1) * pageSize + 1 }} à
                          {{ (currentPage * pageSize > filteredInscription.length) ? filteredInscription.length : (currentPage * pageSize) }}
                          sur {{ filteredInscription.length }} éléments
                      </p>
                      <ngb-pagination class="pagination pagination-rounded justify-content-end mb-2"
                      [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="filteredInscription.length" (pageChange)="pageChanged($event)">
                    </ngb-pagination>
                  </div>
              </div>

            <div class=" row ">
              <div class="col-md-3">
                <span class="legend-point red"></span>
                Inscription offerte
              </div>
              <div class="col-md-3">
              <span class="legend-point blue"></span>
                Inscription et mensualité offertes
              </div>
              <!-- Ajoutez d'autres points et légendes selon vos besoins -->
            </div>
          </div>
      </div>
  </div>
</div>


<div id="table-container" class="table-responsive" style="display: none;">

  <table class="table table-centered table-nowrap">
    <thead class="bg-primary bg-soft p-4">
    <tr>
      <th style="text-align: center;">#</th>
      <th style="text-align: center;">Nom</th>
      <th style="text-align: center;">Prénom</th>
      <th style="text-align: center;">Matricule</th>
      <th style="text-align: center;">Sexe</th>
      <th style="text-align: center;">Date Inscription</th>
      <th style="text-align: center;">Date de naissance</th>
      <th style="text-align: center;">Statut</th>
      <th style="text-align: center;">Montant reçu</th>
      <th style="text-align: center;">Montant restant</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of eleves ; let i = index">
      <td style="text-align: center;">
        <a href="javascript: void(0);" class="text-body fw-bold">{{ i + 1}}</a>
    </td>
      <td style="text-align: center;">{{data?.nom}}</td>
      <td style="text-align: center;">{{data?.prenom}}</td>
      <td style="text-align: center;">{{data?.matricule}}</td>
      <td style="text-align: center;">
        {{ data?.sexe === '1' ? 'Féminin' : data?.sexe === '2' ? 'Masculin' : '' }}
      </td>
      <td style="text-align: center;">{{data?.dateInscription | date: 'dd/MM/yyyy'}}</td>

      <td style="text-align: center;">{{data?.dateNaissance | date: 'dd/MM/yyyy'}}</td>
      <td style="text-align: center;">
        <span *ngIf="data?.etat=='1'" class="badge badge-pill badge-soft-success font-size-11" [ngClass]=" { 'badge-soft-sucess': data?.etat === '1'}">Payé</span>
        <span *ngIf="data?.etat=='0'" class="badge badge-pill badge-soft-danger font-size-11" [ngClass]=" { 'badge-soft-danger': data?.etat == '0'}">Impayé</span>
    </td>
<td style="text-align: center;">{{formatMontant(data?.avance)}}</td>
<td style="text-align: center;">{{formatMontant(data?.restant) }}</td>
    </tr>
    </tbody>
  </table>

</div>

<ng-template #contentUpdateAvance role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Réglement de dette à l'inscription </h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="modal-body">
        <form (ngSubmit)="updateAvance()" [formGroup]="formInscriptionAvance">
          <div class="row mt-3">
            <div class="col-12">
              <div class="row mb-3">
                <!-- <label class="col-md-3 col-form-label">Contact Person</label -->
                <div class="col-sm-6 test">
                  <label>Nom </label>
                  <input class="form-control" type="text" placeholder="{{nomModal}}" disabled>

                </div>
                <div class="col-md-6">
                  <label>Prénom </label>
                  <input class="form-control" type="text" placeholder="{{prenomModal}}" disabled>
                </div>
                </div>
                <div class="row mb-3">
                <div class="col-md-6">
                  <label>Montant restant </label>
                  <input class="form-control" type="text" placeholder="{{formatMontant(restantModal) }}" disabled>
                </div>
                <div class="col-md-6">
                  <label>Montant reçu </label>
                  <input class="form-control" formControlName="avance"  type="number" placeholder="Veuillez saisir le montant" maxlength="7" required>
                </div>
              </div>
            </div>
            <br>
            <div style="text-align:center;">
              <ul class="list-inline wizard mb-0" style="text-align: center; display: inline-block;">
                <button type="button"
                  class="btn btn-primary" style="float:center;" (click)="annuler()"><i class="fa fa-undo" ></i>&nbsp;Annuler</button>
                  &nbsp;
                <button type="button" class="btn btn-success" style="float:center;" (click)="updateAvance()" ><i
                    class="fa fa-save"></i>&nbsp;Modifier</button>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
