

<div class="container-fluid">

    <div class="row">
      <div class="d-flex">
         <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term" />
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
        <button class="btn btn-success  btn-rounded  ms-auto mb-2" (click)="extraLarge(content)">
          <i class="mdi mdi-plus me-1"></i>Ajouter Professeur </button>
      </div>
      <ng-template #content role="document" let-modal>
        
            <div class="row" >
              <div class="col-md-12">
                <div class="card card-body">
            <div class="row mt-3">
              <div class="col-12">
                <div class="row mb-3">
                  <!-- <label class="col-md-3 col-form-label">Contact Person</label -->
                  <div class="col-sm-3 test">
                    <input class="form-control"  type="text"  placeholder="nom">
                  </div>
                  <div class="col-md-3">
                    <input class="form-control"  type="text" placeholder="Prenom">
                  </div>
                  <div class="col-md-3">
                    <input class="form-control"  type="text" placeholder="adresse">
                  </div>
                  <div class="col-md-3">
                    <input class="form-control"  type="text" placeholder="telephone">
                  </div>
                </div>
                <!-- <div class="row mb-3">
                  <label class="col-md-6 col-form-label">Date debut</label>
                  <label class="col-md-6 col-form-label">Date Fin</label>
                </div> -->
                <div class="row mb-3">
                <div class="col-sm-3 test">
                    <input class="form-control"  type="email"  placeholder="email">
                  </div>
                  <div class="col-md-3">
                    <input class="form-control"  type="text" placeholder="login">
                  </div>
          
                  <div class="col-md-3">
                    <input class="form-control"  type="password" placeholder="password">
                  </div>
                  <div class="col-md-3">
                    <input class="form-control"  type="number" placeholder="telephone">
                  </div>
                </div>
            </div>
              
            </div>
            <br>
            <div style="text-align:center;">
                <ul class="list-inline wizard mb-0" style="text-align: center; display: inline-block;">
                  <button type="button" class="btn btn-success"  style = "float:center;"><i class="fa fa-save"></i>&nbsp;Valider</button>
              </ul>
              </div>
          </div>
        </div>
        </div>
          
      </ng-template>

      <div class="col-xl-2 col-md-6" *ngFor="let data of userGridData">
        <div class="card">
          <div class="card-body">
            <div class="favorite-icon" >
              <a href="javascript:void(0)"><i class="uil uil-heart-alt fs-18"></i></a>
            </div>
            <div class="avatar-sm mx-auto mb-4" *ngIf="!data.image"  >
              <span class="avatar-title rounded-circle bg-soft bg-info text-primary font-size-16" >
                {{data.name.charAt(0)}}
              </span>
            </div>
            <div *ngIf="data.image" class="mb-4">
              <img class="rounded-circle avatar-sm" src="{{data.image}}" alt />
            </div>
            <h5 class="fs-17 mb-2" style="text-align: center;"><a href="job-details.html" class="text-dark">{{data.name}}</a> </h5>
            <ul class="list-inline mb-0" style="text-align: center;">
              <li class="list-inline-item" >
                <p class="text-muted fs-14 mb-1 "><i class="mdi mdi-map-marker"></i>Parcelles</p>
              </li>
              <li class="list-inline-item">
                <p class="text-muted fs-14 mb-0">(+221) 77 777 77 77</p>
              </li>
              <li class="list-inline-item">
                <button type="button" class="btn btn-white">
                  <i class="bx bx-edit text-warning my-custom-icon" ></i> 
                </button>
                <button type="button" class="btn btn-white">
                  <i class="bx bx-trash text-danger my-custom-icon" ></i> 
                </button>
              </li>
            </ul>
            
          <br>
          <div class="card-footer bg-transparent border-top" >
           <button routerLink="/professeur/classeEnseigner" href="javascript: void(0);" data-bs-toggle="modal" class="btn btn-outline-success " ><i class="fa fa-eye"></i>&nbsp; Details</button>
            </div>
</div>
</div>
</div>
</div>


 <div class="row">
      <div class="col-12">
        <div class="text-center my-3">
          <a href="javascript:void(0);" class="text-success"><i class="bx bx-hourglass bx-spin mr-2"></i> Load more </a>
        </div>
      </div> 
    </div>

 

