<!-- <header>
    <img class="follow" src="../../../assets/img1/log.svg">
  </header>
  <img class="wave" src="../../../assets/img1/bg.png">
  <div class="container1">
    <div class="img">
      <img src="../../../assets/img1/ecole.svg">
    </div>
    <div class="login-content">
      <form #f="ngForm" (ngSubmit)="onLogin()">
        <img src="../../../assets/img1/user.svg">
        <h2 class="title">Changement de mot de passe</h2>
        <div class="input-div pass">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
            <input type="password"  name="password" [(ngModel)]="u.password"  required="required" class="input" placeholder="Nouveau mot de passe">
          </div>
        </div>
        <div class="input-div pass">
          <div class="i">
            <i class="fas fa-lock"></i>
          </div>
          <div class="div">
            <input type="password"  name="confirmPass" [(ngModel)]="u.confirmPass"  required="required" class="input" placeholder="Confirmation du nouveau mot de passe">
          </div>
        </div>
        <input type="submit" class="btn" [disabled]="!f.valid" value="Valider">
      </form>
    </div>
  </div>
  
  
  
   -->