<div class="container-fluid print-content">
  <app-page-title title="Gestion des classes"></app-page-title>
  <div class="row">
    <div class="col-xl-4 no-print">
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div class="me-2">
              <h5 *ngIf="!update" class="card-title mb-4 text-primary">Ajout d'une nouvelle classe</h5>
              <h5 *ngIf="update" class="card-title mb-4 text-primary">Modification de la classe {{ formClasse.get('libelle').value }}</h5>
            </div>

          </div>
          <form (ngSubmit)="Addclasse()">
            <div class="text-center mt-4">
              <div class="input-group bg-light rounded" [formGroup]="formClasse">
                <input type="text" class="form-control bg-transparent border-0" placeholder="Entrer le libellé"
                  formControlName="libelle">
              </div>
            </div>
            <div class="text-center mt-4">
              <div class="input-group bg-light rounded" [formGroup]="formClasse">
                <input type="number" class="form-control bg-transparent border-0" placeholder="Entrer le montant de l'inscription" maxlength="7"
                  formControlName="montantinscription">
              </div>
            </div>
            <div class="text-center mt-4">
              <div class="input-group bg-light rounded" [formGroup]="formClasse">
                <select type="text" class="form-control bg-transparent border-0" formControlName="niveau" >
                  <option value="" selected disabled>Choisir le niveau</option>
                  <option value="1">Préscolaire</option>
                  <option value="2">Élémentaire</option>
                  <option value="3">Collège</option>
                  <option value="4">Lycée</option>

                </select>
              </div>
            </div>
            <div class="text-center mt-4">
              <div class="text-center">
                <button *ngIf="!update" type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="Addclasse()"
                  [disabled]="formClasse.invalid"><i class="fa fa-save"></i>&nbsp;
                  Enregistrer</button>
                <button *ngIf="update" type="button" class="btn btn-warning btn-rounded mb-2 me-2"
                  (click)="ModifierClasse()"><i class="fa fa-edit"></i>&nbsp;
                  Modifier</button> &nbsp;
                <button *ngIf="update" type="button" class="btn btn-danger btn-rounded mb-2 me-2" (click)="annuler()"><i class="fa fa-undo"></i>&nbsp;
                  Annuler</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div class="me-2">
              <h5 class="card-title mb-4">Liste des classes</h5>
            </div>

          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row mb-2">
                    <div class="col-sm-4 no-print">
                      <div class="search-box me-2 mb-2 d-inline-block">
                        <div class="position-relative">
                          <input type="text" class="form-control" placeholder="Recherche..." [(ngModel)]="term" (input)="filterClasses()">
                          <i class="bx bx-search-alt search-icon"></i>

                        </div>
                      </div>
                    </div>
                    <!-- end col-->
                    <div class="col-sm-8 no-print">
                      <div class="text-sm-end">
                        <button type="button" class="btn btn-sm btn-rounded" style="background-color: #1e88e5; color:white;" (click)="imprimerClasses()">
                          <i class="fa fa-print"></i>&nbsp;Imprimer
                        </button>
                      </div>
                    </div><!-- end col-->

                  </div>

                  <!-- Table data -->
                  <!--          <app-transaction [transactions]="transactions |  filter:term"></app-transaction>-->
                  <div class="table-responsive mb-0">
                    <table class="table table-centered table-nowrap">
                      <thead class="bg-info bg-soft p-4">
                        <tr>
                          <th style="text-align: center;" class="no-print">
                            #
                          </th>
                          <th style="text-align: center; cursor: pointer;" (click)="sortClasses('libelle')">
                            Classe
                            <span *ngIf="activeSortColumn === 'libelle'" class="no-print">{{ isAscending ? '↓↓' : '↑↑' }}</span>
                          </th>
                          <th style="text-align: center; cursor: pointer;" (click)="sortNiveau('niveau')">
                            Niveau
                            <span *ngIf="activeSortColumnNiveau === 'niveau'" class="no-print">{{ isAscendingNiveau ? '↓↓' : '↑↑' }}</span>
                          </th>

                          <th style="text-align: center; cursor: pointer;" >
                            Inscription
                           
                          </th>
                          <th style="text-align: center; cursor: pointer;" >
                            Mensualité
                          </th>
                          <th style="text-align: center;" class="no-print">Action</th>
                          <th style="text-align: center;" class="no-print">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let dataClasse of filteredClasses | slice:startIndex:endIndex; let i = index;">
                          <td class="no-print" style="text-align: center;">
                            <a href="javascript: void(0);" class="text-body fw-bold"> {{i+1}}</a>
                          </td>
                          <td style="text-align: center;">{{dataClasse.libelle}} </td>
                          <td style="text-align: center;">
                            {{dataClasse.niveau == 1 ? 'Préscolaire' : (dataClasse.niveau == 2 ? 'Élémentaire' : (dataClasse.niveau == 3 ? 'Collège' : (dataClasse.niveau == 4 ? 'Lycée' : 'Autre'))) }}
                          </td>
                          
                          <td style="text-align: center;">{{formatMontant(dataClasse.montant_inscription)}} FCFA</td>
                          <td style="text-align: center;">{{formatMontant(dataClasse.montant_mensuel)}} FCFA</td>
                          <td style="text-align: center;" class="no-print">
                            <button type="button" class="btn btn-warning no-print" (click)="UpdateClasse(dataClasse.id)"><i class="fas fa-edit"
                                ></i></button>&nbsp;
                                <button type="button" class="btn btn-danger no-print"  (click)="supprimerClasse(dataClasse.id)"><i class="fas fa-trash"
                                 ></i></button>
                          </td>
                          <td style="text-align: center;" class="no-print">
                            <button type="button" (click)="golisteClasse(dataClasse.id)"
                              class="btn btn-outline-success"><i class="fas fa-eye"></i>&nbsp;Listes des élèves</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <ngb-pagination class="pagination pagination-rounded justify-content-end mb-2"
                      [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="classes.length">
                      <ul class="pagination pagination-rounded justify-content-end mb-2">
                        <li class="page-item disabled">
                          <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                            <i class="mdi mdi-chevron-left"></i>
                          </a>
                        </li>
                        <li class="page-item active">
                          <a class="page-link " href="javascript: void(0);">1</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="javascript: void(0);">2</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="javascript: void(0);">3</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="javascript: void(0);">4</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="javascript: void(0);">5</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" href="javascript: void(0);" aria-label="Next">
                            <i class="mdi mdi-chevron-right"></i>
                          </a>
                        </li>
                      </ul>
                    </ngb-pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end card -->
      </div>
      <!-- end col -->

    </div>
    <!-- end row -->
  </div>
