<div class="container-fluid">

  <app-page-title title="Effectue un paiement"></app-page-title>

  <div class="row">
    <div class="col-xl-4">
      <!-- end card -->
      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div class="me-2">
              <h5 class="card-title mb-4 " style="color: #ce8e24;">Classe</h5>
            </div>

          </div>
          <div class="text-center mt-4">
            <div class="form-floating mb-3">
              <select class="form-select" aria-label="choisir Classe" [(ngModel)]="contenue.idClasse"
                      (ngModelChange)="recuperation($event)">
                <option value="" selected>Liste des classes</option>
                <option *ngFor="let classe of classes" [value]="classe.id">{{classe.libelle}}</option>
              </select>
              <label for="floatingSelectGrid">veuillez choisir une classe</label>
            </div>
          </div>
        </div>
      </div>



      <!-- end card -->
    </div>

    <div class="col-xl-8" >


      <div class="card">
        <div class="card-body">
          <div class="d-flex">
            <div class="me-2">
              <h5 class="card-title mb-4">Liste des eleves</h5>
            </div>

          </div>
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="row mb-2">
                    <div class="col-sm-4">
                      <div class="search-box me-2 mb-2 d-inline-block">
                        <div class="position-relative">
                          <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term">
                          <i class="bx bx-search-alt search-icon"></i>
                        </div>
                      </div>
                    </div>

                    <!-- end col-->
                  </div>

                  <!-- Table data -->
                  <!--          <app-transaction [transactions]="transactions |  filter:term"></app-transaction>-->
                  <div class="table-responsive mb-0" >
                    <table class="table table-centered table-nowrap" (ngSubmit)="addNote()">
                      <thead class="bg-primary bg-soft p-4">
                      <tr>
                        <th style="text-align: center;">
                          id
                        </th>
                        <th style="text-align: center;">Nom complet</th>
                        <th style="text-align: center;">Date Naissance</th>
                        <th style="text-align: center;">option</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let data of eleves">
                        <td>
                          <a href="javascript: void(0);" class="text-body fw-bold">{{data.id}}</a>
                        </td>
                        <td style="text-align: center;">{{data.nom+' '+ data.prenom}}</td>
                        <td style="text-align: center;">{{data.dateNaissance}}</td>
                        <td style="text-align: center;">
                          <button type="button" (click)="suiviPaiement(data.id)"
                                  class="btn btn-outline-success"><i class="fas fa-eye"></i>&nbsp;suivi paiement</button>
                        </td>
                      </tr>
                      </tbody>
                    </table>

                  </div>
                  <!--          -->
                  <ul class="pagination pagination-rounded justify-content-end mb-2">
                    <li class="page-item disabled">
                      <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                        <i class="mdi mdi-chevron-left"></i>
                      </a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link " href="javascript: void(0);">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript: void(0);">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript: void(0);">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript: void(0);">4</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript: void(0);">5</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="javascript: void(0);" aria-label="Next">
                        <i class="mdi mdi-chevron-right"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

